.sidebar {
  background: #282f23;
  padding-top: 20px;
  padding-bottom: 40px;
  border-radius: 5px 0 0 5px;
}

@media (min-width: 750px) {
  .sidebar {
    width: 280px;
  }
}

.myPhoto {
  display: block;
  width: 145px;
  margin: auto;
}

@media (min-width: 414px) {
  .myPhoto {
    width: 200px;
  }
}

@media (min-width: 750px) {
  .myPhoto {
    width: 260px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.contactsContainer {
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 20px;
}
@media (min-width: 414px) {
  .contactsContainer {
    margin-left: 20px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 20px;
  }
}

@media (min-width: 750px) {
  .contactsContainer {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
  }
}

.contactsTitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

@media (min-width: 749) {
  .contactsTitle {
    margin-left: 0;
  }
}

.contactsLink {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  color: #8e949c;
  text-decoration: none;
  margin-bottom: 8px;
}
@media (min-width: 750px) {
  .contactsLink {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
  }
}

.contactsLink:hover,
.contactsLink:focus {
  color: #ff6b08;
}
.contactsLinkType {
  fill: #ddcccc;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
.contactsLinkType:hover,
.contactsLinkType:focus {
  fill: #ff6b08;
}
@media (min-width: 768px) {
  .contactsLinkType {
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
  }
}

.techSkillTittle {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.techSkillsItem {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #ff6b08;
}

.techSkillsText {
  color: #d6d8db;
}

.softSkillsTitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.softSkillItem {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}

.softSkillsText {
  color: #d6d8db;
}
